body {
  font-family: 'EB Garamond', serif;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}

a {
    color: black;
    text-decoration: underline;
}

header img {
  vertical-align: top;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
  
header {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 30pt;
  vertical-align: top;
  text-align: center;
}

header a:hover {
    color: red;
}

header a {
    text-decoration: none;
}

th {
  text-align: left;
}

p {
  font-size: 16pt;
}

#author-chart {
  text-align: center;
}

td.libraryofcongress button img,
td.internetarchive button img {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -khtml-border-radius: 30px;
  -webkit-border-radius: 30px;
}
